<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>www.zippysig.com | Email Signature Generator</title>
    <style href="">a {text-decoration: none} </style>
  </head>
  <body>
    <div id="preview">
      <table border="0" cellpadding="0" cellspacing="0" style="font-family: Calibri, Helvetica, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
        <tbody>
          <tr>
            <td style="font-size: 16.0px; font-style: normal; line-height: 18px; font-weight: normal; color: #333333; padding-bottom: 30px; ">
              <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 16.0px; font-style: normal; line-height: 18px; font-weight: normal; color: #333333; display: inline;">
              <font face="Calibri, Helvetica, sans-serif">Kind regards,</font>
              </span>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 0px; ">
              <table border="0" cellpadding="0" cellspacing="0" style="font-family: Calibri, Helvetica, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td style="line-height:0px;" valign="middle">
                      <img width="116" height="120" alt="" border="0" src="roepasmall.png">
                    </td>
                    <td width="8" style="padding-right: 8px; width: 8px;"></td>
                    <td width="1" style="background-color:#333333; width: 1px; "></td>
                    <td width="8" style="padding-right: 8px; width: 8px;"></td>
                    <td valign="middle" style="font-size: 16.0px; font-style: normal; line-height: 18px; font-weight: normal; color: #333333; ">
                      <table border="0" cellpadding="0" cellspacing="0" style="font-family: Calibri, Helvetica, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                        <tbody>
                          <tr>
                            <td style="font-size: 16.0px; font-style: normal; line-height: 18px; font-weight: normal; color: #333333; ">
                              <table border="0" cellpadding="0" cellspacing="0" style="font-family: Calibri, Helvetica, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                                <tbody>
                                  <tr>
                                    <td style="font-size: 17.0px; font-style: normal; line-height: 19px; font-weight: bold; color: #008bb8; padding-bottom: 0px; ">
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 17.0px; font-style: normal; line-height: 19px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">Horst</font>
                                      </span>
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 17.0px; font-style: normal; line-height: 19px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">Roesinger</font>
                                      </span>
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 15.0px; font-style: normal; line-height: 17px; font-weight: bold; color: #333333; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif"></font>
                                      </span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 15.0px; font-style: normal; line-height: 17px; font-weight: bold; color: #333333; padding-bottom: 11px; ">
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 15.0px; font-style: normal; line-height: 17px; font-weight: bold; color: #333333; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">CEO, Founder of IMROE group.</font>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #333333; padding-bottom: 9px; ">
                              <table border="0" cellpadding="0" cellspacing="0" style="font-family: Calibri, Helvetica, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                                <tbody>
                                  <tr>
                                    <td style="font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #008bb8; ">
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #0080CA; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">Mobile Spain</font>
                                      </span>
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #333333; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">+34 620.780.367</font>
                                      </span>
                                      <span>&nbsp;</span>
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #0080CA; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">Mobile Germany</font>
                                      </span>
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #333333; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">+49 173.307.54.84</font>
                                      </span>
                                      <br>

                                      <span style="font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #0080CA; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">Web</font>
                                      </span>
                                      <a style="text-decoration: none !important;text-decoration: none;" href="https://www.zippysig.com">
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #333333; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">www.roepa.com</font>
                                      <span>&nbsp;</span>
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #0080CA; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">Mail</font>
                                      </span>
                                      <a style="text-decoration: none !important;text-decoration: none;" href="https://www.zippysig.com">
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #333333; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">horst@roepa.com</font>
                                      </span>
                                      </a>
                                      <span>&nbsp;</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #008bb8; ">
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #0080CA; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">Address</font>
                                      </span>
                                      <span style="font-family: Calibri, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #333333; display: inline;">
                                      <font face="Calibri, Helvetica, sans-serif">6, Rue de l’Hotel de ville F-68330 Huningue</font>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding-bottom: 0px; font-size: 15.0px; line-height: 15.0px;">
                          
                              <a style="text-decoration: none !important;text-decoration: none; display: inline; white-space:nowrap;" href="https://www.zippysig.com"><img width="24" height="24" style="margin-bottom:2px; border:none; display:inline;" alt="" src="05linkedin.gif"></a>
                              <span style="white-space:nowrap;">
                              <img width="2" src="spacer_16px.gif">
                              </span>
                              <a style="text-decoration: none !important;text-decoration: none; display: inline; white-space:nowrap;" href="https://www.zippysig.com"><img width="24" height="24" style="margin-bottom:2px; border:none; display:inline;" alt="" src="05google-plus.gif"></a>
                              <span style="white-space:nowrap;">
                              <img width="2" src="spacer_16px.gif">
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
