<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>www.zippysig.com | Email Signature Generator</title>
    <style href="">a {text-decoration: none} </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  </head>
  <body>
    <div id="preview">
      <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Open Sans', sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
        <tbody>
          <tr>
            <td style="font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919;  padding-bottom:20px">
              <span style="font-family: 'Open Sans', sans-serif; font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; display: inline;">
              <font face="Verdana">Kind regards,</font>
              </span>
            </td>
          </tr>
          <tr>
            <td style="font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; ">
              <table border="0" cellpadding="0" cellspacing="0" style="font-family: Open Sans, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td style="font-size: 15.0px; font-style: normal; line-height: 16.0px; font-weight: bold; color: #400747;  line-height:0px;">
                      <img width="110" height="129" alt="" border="0" src="image-1.png" style="display: block">
                    </td>
                    <td width="12" style="font-size:1px; width:12px; white-space:nowrap;"></td>
                    <td style="font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; ">
                      <table border="0" cellpadding="0" cellspacing="0" style="font-family: Open Sans, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                        <tbody>
                          <tr>
                            <td style="font-size: 15.0px; font-style: normal; line-height: 16.0px; font-weight: bold; color: #400747;  padding-bottom:10px">
                              <table border="0" cellpadding="0" cellspacing="0" style="font-family: Open Sans, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                                <tbody>
                                  <tr>
                                    <td style="font-size: 15.0px; font-style: normal; line-height: 16.0px; font-weight: bold; color: #0080CA; ">
                                      <span style="font-family: 'Open Sans', sans-serif; font-size: 15.0px; font-style: normal; line-height: 16.0px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Open Sans, sans-serif">Horst </font>
                                      </span>
                                      <span style="font-family: 'Open Sans', sans-serif;  font-size: 15.0px; font-style: normal; line-height: 16.0px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Open Sans, sans-serif">Roesinger</font>
                                      </span>
                                      <span style="font-family: 'Open Sans', sans-serif;  font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; display: inline;">
                                      <font face="Open Sans, sans-serif">Property Manager</font>
                                      </span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 15.0px; font-style: normal; line-height: 16.0px; font-weight: bold; color: #400747; ">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919;  padding-bottom:10px">
                              <table border="0" cellpadding="0" cellspacing="0" style="font-family: Open Sans, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                                <tbody>
                                  <tr>
                                    <td style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #400747; ">
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Open Sans, sans-serif">Mobile | </font>
                                      </span>
                                      <span style="font-family: Open Sans, sans-serif; font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; display: inline;">
                                      <font face="Open Sans, sans-serif">+34 620.780.367</font>
                                      </span>
                                      &nbsp;
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Open Sans, sans-serif">Spain| </font>
                                      </span>
                                      <span style="font-family: Open Sans, sans-serif; font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; display: inline;">
                                      <font face="Open Sans, sans-serif">+49 173.307.54.84</font>
                                      </span>
                                      &nbsp;
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Open Sans, sans-serif">Germany| </font>
                                      </span>
                                      &nbsp;
                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #400747; ">
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Open Sans, sans-serif">Address| </font>
                                      </span>
                                      <span style="font-family: Open Sans, sans-serif; font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; display: inline;">
                                      <font face="Open Sans, sans-serif">6, Rue de l’Hotel de ville F-68330 Huningue</font>
                                      </span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #400747; ">
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Open Sans, sans-serif">Skype       | </font>
                                      </span>
                                      <span style="font-family: Open Sans, sans-serif; font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; display: inline;">
                                      <font face="Open Sans, sans-serif">horst.roesinger</font>
                                      </span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #400747; ">
                                      <span style="font-size: 14.0px; font-style: normal; line-height: 15.0px; font-weight: bold; color: #0080CA; display: inline;">
                                      <font face="Open Sans, sans-serif">Website| </font>
                                      </span>
                                      <span style="font-family: Open Sans, sans-serif; font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; display: inline;">
                                      <font face="Open Sans, sans-serif">www.roepa.com</font>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919;  padding-bottom: 10px">
              <table border="0" cellpadding="0" cellspacing="0" style="font-family: Open Sans, sans-serif; line-height: 3px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td style="font-size: 15.0px; font-style: normal; line-height: 16.0px; font-weight: bold; color: #400747; ">
                      <img width="503" height="76" alt="" border="0" src="banner.png">
                    </td>

                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919;  padding-bottom:10px">
              <span style="font-family: Open Sans, sans-serif; font-size: 13.0px; font-style: normal; line-height: 15.0px; font-weight: normal; color: #191919; display: inline;">This message is intended solely for consignee whom it is addressed. If you are not the  <br> intended  recipient, you should not copy, distribute or take any action in reliance on it. <br> If you received this e-mail in error, please press here: REMOVE and your address will be <br> removed from our partner list.</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
